* {
    margin: 0;
    padding: 0;
    font-family: "Hind Vadodara", sans-serif;
    font-style: normal;
}

.header-info-container {
    display: none !important;
}

.header-info-container {
    color: #ffffff;
    background-color: #777777;
}

@media only screen and (min-width: 576px) {
    .header-info-container {
        display: flex !important;
    }
}

.info-container {
    display: none !important;
}

.small-info-container {
    display: flex;
}

@media only screen and (min-width: 576px) {
    .info-container {
        display: flex !important;
    }

    .small-info-container {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .small-screen-font {
        font-size: 10px;
    }
}

.price-container {
    display: none !important;
}

@media only screen and (min-width: 576px) {
    .price-container {
        display: flex !important;
    }
}

.news-heading {
    font-weight: 700 !important;
    color: black;
}

.header-container {
    border: 1px dashed #777777;
}

.info-card-container {
    background-color: #B71C1C;
    color: #ffffff;
}

.logo {
    max-width: 6vmax !important;
    min-width: 16vmax;
}

.w-1 {
    width: 1px !important;
}

.divider {
    border: 1px solid #777777;
    width: 1px;
    height: 70%;
    margin-top: .7rem;
}

.heading-container {
    background-color: #777777;
    color: #ffffff;
}

.latest-heading-container {
    background-color: #B71C1C;
    color: #ffffff;
    width: fit-content;
}

/* .info-card-container-day {
    padding: 13px 0 14px 0;
} */

.table-heading {
    color: #ffffff !important;
    background: #777777 !important;
}

.link-see-more {
    text-decoration: underline dotted #B71C1C;
}

.news-subtitle {
    text-overflow: ellipsis;
}

.text-price-up-down {
    font-weight: 600;
    color: #1DD33D;
}

.pagination-pre-btn {
    background-color: #B71C1C !important;
    color: white !important;
    border-radius: 4px 0 0 4px !important;
}

.pagination-nxt-btn {
    background-color: #B71C1C !important;
    color: white !important;
    border-radius: 0 4px 4px 0 !important;
}

.pagination-nxt-btn:focus,
.pagination-pre-btn:focus,
.pagination-btn-num:focus {
    box-shadow: none !important;
}

.pagination-btn-num {
    color: #B71C1C !important;
}

.pagination-btn-num {
    color: #B71C1C;
}

.news-time-stamp {
    text-wrap: nowrap;
}

.text-theme-red {
    color: #B71C1C;
}

.text-theme-gray {
    color: #777777;
}

.bg-theme-red {
    background-color: #B71C1C;
}

.bg-theme-red:hover {
    background-color: #971717;
}

.bg-theme-red:focus {
    background-color: #971717;
}

.btn-custom-primary {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #B71C1C;
    --bs-btn-border-color: #B71C1C;
    --bs-btn-hover-bg: #971717;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-border-color: #971717;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: #971717;
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.btn-group-custom-primary {
    --bs-btn-color: #777777;
    /* --bs-btn-bg: #B71C1C; */
    /* --bs-btn-border-color: #B71C1C; */
    --bs-btn-hover-bg: #971717;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-border-color: #971717;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: #971717;
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.title-underline {
    width: 120px;
}

.divider-custom {
    background-color: white;
    opacity: 1;
}

/* .divider-container {
    width: 10px;
} */

@media only screen and (min-width: 1200px) {
    .divider-container {
        width: 10px;
    }
}

@media only screen and (min-width: 576px) {
    .divider-container {
        width: 10px;
    }
}

.divider-container-middle {
    display: none;
}

@media only screen and (min-width: 1200px) {
    .divider-container-middle {
        display: flex !important;
    }
}

/* .info-tag {
    position: fixed;
    right: 0;
    top: 20%;
    background-color: #971717;
    color: white;
    padding: 5px;
    border-radius: 10px 0 0 10px;
} */

#smallDrawer {
    z-index: 10;
    display: none;
    position: fixed;
    top: 30%;
    right: 0;
    width: 80%;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    background-color: #ffffff;
    color: #777777;
    padding: .5rem;
    border-radius: 4px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

#smallDrawer.show {
    transform: translateX(0);
}

@media only screen and (max-width: 576px) {
    #smallDrawer {
        display: block !important;
    }
}

#drawerToggle {
    position: fixed;
    left: 0;
    top: 20%;
    background-color: #777777;
    color: white;
    padding: 5px;
    margin-left: -34px;
    border-radius: 10px 0 0 10px;
}

.table-container {
    overflow-y: scroll;
}

.scroll-container {
    background-color: #777777;
    color: white;
    display: none;
}



.active {
    background-color: #B71C1C;
    border-radius: 4px;
    box-shadow: 5px 5px 10px lightgray;
}

.active>a,
.active>a>svg {
    color: white;
}

.active>.nav-link:hover,
.active>.nav-link:focus {
    color: white;
}

.nav-link:focus {
    color: #777777;
}

.nav-link:hover {
    color: #B71C1C;
}

.side-nav {
    position: sticky;
    top: 14px;
}

.side-nav-container {
    display: none;
}

@media only screen and (min-width: 577px) {
    .side-nav-container {
        display: block !important;
    }
}

.btn-nav {
    display: none;
}

.search-bar {
    display: block;
}

@media only screen and (max-width: 576px) {
    .btn-nav {
        display: flex !important;
    }

    .search-bar {
        display: none;
    }

    .scroll-container {
        display: block;
    }
}

@media only screen and (max-width: 575px) {
    .news-img {
        width: 100% !important;
        height: 140px !important;
        object-fit: cover !important;
    }
}

.icon-text-align {
    vertical-align: bottom;
}